<p>header works!</p>

<!-- NO AUTH REQUIRED -->
<div *ngIf="showNoAuthSection">
  <button (click)="navigateTo('dashboard')">Dashboard</button>
  <button (click)="navigateTo('home')">Home</button>
  <button (click)="navigateTo('login')">Login</button>
  <button (click)="navigateTo('register')">Register</button>
</div>

<!-- AUTH REQUIRED -->
<div *ngIf="showAuthSection">
  <button (click)="navigateTo('dashboard')">Dashboard</button>
  <button (click)="navigateTo('home')">Home</button>
  <button (click)="navigateTo('posts')">Admin posts</button>
  <button (click)="navigateTo('categories')">Admin categories</button>
  <button (click)="navigateTo('profile')">Profile</button>
  <button (click)="logout()">Logout</button>
</div>
